@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Roboto:wght@500;700&display=swap');
body{
    background-image: url(Resources/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
    font-family: Roboto;
    
  }
 
  #navbar{
    font-family: Roboto;
    width:80%;
    margin:0 auto;
    height: 80px;
    border-radius:0 0 10px 10px;
    display: flex;
    background-color:black;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  a{
    height: 30px;
    margin:auto;
    padding: 12px;
    text-align:center;
    /* border:1px solid white; */

    text-decoration: none;
    color:white;
  }
  #MenuLogo img{
      padding: 10px;
    height: 60px;
    width: 60px;
    margin: auto 100px; 
    width: auto;
    /* border:1px solid white; */

  }
  #MenuLogo{
    /* border:1px solid white; */

    width: 300px;
    margin:auto;
    
    
  }

  h1 {
    color:white;
    margin: auto;
    font-size :50px;
    /* display: flex; */
    /* flex-direction: row; */
}
  /* h1:before,
        h1:after {
            content: "";
            flex: 1 1;
            border-bottom: 5px solid white;
            border-radius: 20px;
            margin:auto;
        }
   */
  h2{
    color:white;
    font-size :15px;
  
    text-align: center;
  }
.content {
    margin:  60px auto;
    width:70%;
    /* border: 1px solid white; */
    text-align: center;
    background-color: black;
    

}
    #button {
    color:white;
    text-align: center;
    height :auto;
    /* border :1px solid white; */
    background-color:black;
    width:200px;
    padding:20px;
    margin: auto;
    }
form {
  margin:auto;
  width :80%;
  padding:0;

  display:block;
  
}
form .shit{
  display:flex;
  padding:0;
  
}

form input {
  width :97%;
  margin:10px;
  padding:0;
  height: 35px;
  border:0;
  color:white;
  background-color:#2e2e2e;
  border-bottom: 3px solid white;
}
form #message {
  height :100px;
}
form #submit {
  background-color:black;
  color:white;
width:auto;
  border: 2px solid white;
}